:root {
	--mainColor:  #f3f8ff;
	--textColor:  #ffffff;
	--borderColor: #06dce3;
	--backgroundColor:  #08dce0;
	--spotColor:  #ff5b2ecc;
	--locSpotColor: #ff2e2ecc;
	--activeColor: #ffffff;
}
body{
	background: linear-gradient(135deg, var(--borderColor), var(--backgroundColor));
	margin: 0;
}
h4{
	color: #535353!important;
}
#main > div:nth-child(3) > div:nth-child(2){
	border:solid 2px #53535353;
}
table {
	width: 100%;
	color: #535353;
}
.bordered th {
	padding: 10px;
	text-align: center;
}
.bordered td {
	padding: 5px;
	text-align: center;
}
.bordered tr:nth-of-type(2n) {
	background: #FFFFFF;
	cursor: pointer;
}
.bordered tr:nth-of-type(2n+1) {
	background: #F7FAFC;
	cursor: pointer;
}
.bordered tbody tr:hover {
	background: #F0F0F0F0;
	transition: 0.1s;
}